

.header{background-color:#333333;
color:white; 
font-family: bolder;
padding-top:30px;
padding-bottom: 30px;


}
.header .h2{
	font-size:80px;
}
.header p{
	line-height:1.3rem;
}
.c{
	color:#c0bab6;
}

.h{  
	color:#C0BAB6;
	font-weight: bold;
	line-height: 1rem;

}
.nav-style{
	background-color: #232323;
	display:flex;
	width:100%;
	padding-bottom: 14px; 
	padding-top:14px;
	padding-left: 12px;
	margin-left:15px;
	margin-right: 15px}


.table-container{
	margin-top: 70px;
	

}
.button{
	padding:0px 12px;
	border:2px solid #353a40;
	border-radius: 4px;

}

.javascript{
	font-family: Georgia;
}


.checkbox{padding-left:18px;}

.radio-button{
	padding:0px 35px;
}

.modal .modal-width {

	width:600px;

}

.modal .modal-content .head {

	border-bottom:3px solid #ed4e2a;
}
.whole-adjust .row .style{
	padding:5px;
	width:100%;
	border-color:#d5d5d5;
	border-radius: 3px;
	color:#858585;
}

.whole-adjust .row .design {

	padding:5px;
	width:100%;
	border:1px solid #d5d5d5; 
	border-radius: 3px;
	color:#858585;

	
}
 .modal-footer .button {

 	padding-top:3px;
 	padding-bottom:3px ;
 	background-color:#215b31; 
 	color:white;
 }

 .whole-adjust .row .choose {

 	margin-left:35px;
 	padding-left: 35px;

 	
 }



 .whole-adjust .row .margin {

 	margin-left:15px;
 }

#assignTo{
	border :1px solid gold;
	overflow :auto ;
	height :100px;
	display :none;
}

#cNum{
	border :1px solid gold;
	overflow :auto ;
	height :100px;
	display: none;
}



	



	.c1{margin-top: 60px;}

.container-7 .row .c37{
     	font-family: Georgia;
         color:orange;
     }
     .container-7 .row .c37 .c39  .c40{
     	border-bottom: 1px solid #484848;
     	padding-bottom: 3px; 
     }
     .c41{
     	color:#727272;
     	font-family:Georgia;
     	font-weight: bold; 
     }

.container-8{background-color:#232323;
padding-top: 4px;
margin-bottom: 4px}
